@using TRuDI.Backend.Utils
@using TRuDI.Models
@using TRuDI.Models.BasicData
@model TRuDI.Backend.Components.OriginalValueListRange

<h3>Leistungsmittelwerte vom @Model.Start.ToString("dd.MM.yyyy")</h3>

<table class="table-condensed table-column-padding">
    <tr>
        <th>Sollzeitpunkt</th>
        <th class="text-right">Zählerstand (@Model.Source.DisplayUnit)</th>
        <th class="text-right">Leistungsmittelwert (@Model.Source.DisplayUnitPower)</th>
        <th>Status Zählerstand</th>
    </tr>

    @foreach (var entry in Model.Items)
    {
        if (entry.Value != null)
        {
            <tr class="@entry.ToStatusBackground()">
                <td>@entry.TargetTime</td>
                <td class="text-right">@entry.Value.GetDisplayValue(Model.Source.Uom, Model.Source.PowerOfTenMultiplier, Model.Source.Scaler, Model.Source.Obis)</td>
                
                @if (entry.PowerValue != null)
                {
                    <td class="text-right">@entry.PowerValue.GetDisplayValue(Model.Source.Uom, Model.Source.PowerOfTenMultiplier, Model.Source.Scaler, Model.Source.Obis)</td>
                }
                else
                {
                    <td class="text-left">@entry.PowerValueInfo</td>
                }

                <td><i class="@entry.ToStatusIcon()"></i> @entry.ToStatusString()</td>
            </tr>
        }
        else
        {
            <tr>
                <td>@entry.TargetTime</td>
                <td colspan="3" class="warning"><span><i class="fa fa-warning"></i> kein Messwert vorhanden</span></td>
            </tr>
        }
    }

</table>
