﻿@using TRuDI.Models
@using TRuDI.TafAdapter.Interface.Taf8
@model ITaf8Data


    <h3>Durch TRuDI nachberechnete Registerwerte</h3>
    <p>Nachberechnet aus TAF-7-Zählerstandsgangsdaten aus dem Smart Meter Gateway.</p>

    <table class="table">
        <tr>
            <th>Zeit</th>
            <th>Register</th>
            <th class="text-right">Wert</th>
            <th>Einheit</th>
            <th>Beschreibung</th>
        </tr>

        @foreach (var register in Model.Registers)
        {
            <tr>
                <td>@register.Timestamp</td>
                <td>@register.ObisCode.ToString()</td>

                @if (register.SourceType != null)
                {
                    <td class="text-right">
                        @register.Amount.GetDisplayValue(register.SourceType, register.SourceType.ObisCode)
                    </td>
                    <td>@register.SourceType.Uom.GetDisplayUnitPower(register.SourceType.PowerOfTenMultiplier.Value)</td>
                }
                else
                {
                    <td colspan="2">Wert kann nicht Formatiert werden: @register.Amount</td>
                }

                <td>@register.ObisCode.GetLabel()</td>
            </tr>
        }

    </table>