﻿@using TRuDI.Models
@using TRuDI.TafAdapter.Interface.Taf2
@model ITaf2Data

    <h3>Durch TRuDI nachberechnete Registerwerte</h3>
    <p>Nachberechnet aus TAF-7-Zählerstandsgangsdaten aus dem Smart Meter Gateway.</p>


    <table class="table">
        <tr>
            <th>Register</th>
            <th class="text-right">Wert</th>
            <th>Einheit</th>
            <th>Beschreibung</th>
        </tr>

        @foreach (var register in Model.SummaryRegister.GetAccountingRegistersWithTotal())
        {
            <tr>
                <td>@register.ObisCode.ToString()</td>

                @if (register.SourceType != null)
                {
                    <td class="text-right">
                        @register.Amount.GetDisplayValue(register.SourceType, register.ObisCode)
                    </td>
                    <td>@register.SourceType.Uom.GetDisplayUnit(register.SourceType.PowerOfTenMultiplier.Value)</td>
                }
                else
                {
                    <td colspan="2">Wert kann nicht Formatiert werden: @register.Amount</td>
                }

                <td>@register.ObisCode.GetLabel()</td>
            </tr>
        }

    </table>