﻿body {
    padding-top: 130px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}


.navbar-trudi {
    background-color: #f8f8f8;
    border-color: #e7e7e7;
}






.breadcrumb {
    padding: 0px;
    background: #D4D4D4;
    list-style: none;
    overflow: hidden;
    margin-top: 20px;
}

    .breadcrumb > li + li:before {
        padding: 0;
    }

    .breadcrumb li {
        float: left;
    }

        .breadcrumb li.active a {
            background: #286090;
        }

        .breadcrumb li.completed a {
            background: #337ab7; /* fallback color */
        }

        .breadcrumb li.active a:after {
            border-left: 30px solid #286090;
        }

        .breadcrumb li.completed a:after {
            border-left: 30px solid #337ab7;
        }

        .breadcrumb li a {
            color: white;
            text-decoration: none;
            padding: 10px 0 10px 45px;
            position: relative;
            display: block;
            float: left;
        }

            .breadcrumb li a:after {
                content: " ";
                display: block;
                width: 0;
                height: 0;
                border-top: 50px solid transparent; /* Go big on the size, and let overflow hide */
                border-bottom: 50px solid transparent;
                border-left: 30px solid hsla(0, 0%, 83%, 1);
                position: absolute;
                top: 50%;
                margin-top: -50px;
                left: 100%;
                z-index: 2;
            }

            .breadcrumb li.last a:after {
                content: " ";
                display: block;
                width: 0;
                height: 0;
                border-top: 50px solid transparent; /* Go big on the size, and let overflow hide */
                border-bottom: 50px solid transparent;
                border-left: 30px solid hsla(0, 0%, 83%, 1);
                position: absolute;
                top: 50%;
                margin-top: -50px;
                left: 10%;
                z-index: 2;
            }

            .breadcrumb li a:before {
                content: " ";
                display: block;
                width: 0;
                height: 0;
                border-top: 50px solid transparent; /* Go big on the size, and let overflow hide */
                border-bottom: 50px solid transparent;
                border-left: 30px solid white;
                position: absolute;
                top: 50%;
                margin-top: -50px;
                margin-left: 1px;
                left: 100%;
                z-index: 1;
            }

        .breadcrumb li:first-child a {
            padding-left: 15px;
        }


        .breadcrumb li a:hover {
            background: #286090;
        }

            .breadcrumb li a:hover:after {
                border-left-color: #286090 !important;
            }




        .breadcrumb li.active span {
            background: #286090;
        }

        .breadcrumb li.completed span {
            background: #337ab7; /* fallback color */
        }

        .breadcrumb li.active span:after {
            border-left: 30px solid #286090;
        }

        .breadcrumb li.completed span:after {
            border-left: 30px solid #337ab7;
        }

        .breadcrumb li span {
            color: white;
            text-decoration: none;
            padding: 10px 0 10px 45px;
            position: relative;
            display: block;
            float: left;
        }

            .breadcrumb li span:after {
                content: " ";
                display: block;
                width: 0;
                height: 0;
                border-top: 50px solid transparent; /* Go big on the size, and let overflow hide */
                border-bottom: 50px solid transparent;
                border-left: 30px solid hsla(0, 0%, 83%, 1);
                position: absolute;
                top: 50%;
                margin-top: -50px;
                left: 100%;
                z-index: 2;
            }

        .breadcrumb li.last span:after {
            content: " ";
            display: block;
            width: 0;
            height: 0;
            border-top: 50px solid transparent; /* Go big on the size, and let overflow hide */
            border-bottom: 50px solid transparent;
            border-left: 30px solid hsla(0, 0%, 83%, 1);
            position: absolute;
            top: 50%;
            margin-top: -50px;
            left: 10%;
            z-index: 2;
        }

        .breadcrumb li span:before {
            content: " ";
            display: block;
            width: 0;
            height: 0;
            border-top: 50px solid transparent; /* Go big on the size, and let overflow hide */
            border-bottom: 50px solid transparent;
            border-left: 30px solid white;
            position: absolute;
            top: 50%;
            margin-top: -50px;
            margin-left: 1px;
            left: 100%;
            z-index: 1;
        }

        .breadcrumb li:first-child span {
            padding-left: 15px;
        }


        .breadcrumb li span:hover {
            background: #286090;
        }

            .breadcrumb li span:hover:after {
                border-left-color: #286090 !important;
            }

.navbar-brand {
    float: none;
}

.error {
    color: red;
}

.table-condensed.table-column-padding > tbody > tr > td, .table-condensed.table-column-padding > tbody > tr > th {
    padding-left: 12px;
    padding-right: 12px;
}




.table-fixed thead {
    width: 97%;
}
.table-fixed tbody {
    max-height: 230px;
    overflow-y: auto;
    width: 100%;
}
.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
    display: block;
}
.table-fixed tbody td, .table-fixed thead > tr> th {
    float: left;
    border-bottom-width: 0;
}

.table-container-fixed {
    max-height: 230px;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
}